@font-face{
    font-family: "nunito regular";
    font-weight: 500;
    src: url(../fonts/Nunito-Regular.ttf) format("truetype"); 
}
@font-face{
    font-family: "nunito bold";
    font-weight: 700;
    src: url(../fonts/Nunito-Bold.ttf) format("truetype"); 
}
@font-face{
    font-family: "nunito semibold";
    font-weight: 600;
    src: url(../fonts/Nunito-SemiBold.ttf) format("truetype"); 
}
@font-face{
    font-family: "gilroy extrabold";
    font-weight: 800;
    src: url(../fonts/Gilroy-ExtraBold.otf) format("truetype"); 
}
@font-face{
    font-family: "gilroy light";
    font-weight: 200;
    src: url(../fonts/Gilroy-Light.otf) format("opentype"); 
}
@font-face{
    font-family: "gotham medium";
    font-weight: 500;
    src: url(../fonts/Gotham-Medium.otf) format("opentype"); 
}
@font-face{
    font-family: "gotham bold";
    font-weight: 600;
    src: url(../fonts/Gotham-Bold.otf) format("opentype"); 
}
